<nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        <div>
            <div class="form-group">
                <label for="idName">Name</label>
                <input id="idName" type="text" #name [(ngModel)]="clusterConnectionEntity.name"
                    [disabled]="mode === 'edit'" nbInput fullWidth autofocus required
                    placeholder="Name of the cluster connection">
            </div>
            <div class="form-group">
                <label for="idDescription">Description</label>
                <input id="idDescription" type="text" #description [(ngModel)]="clusterConnectionEntity.description"
                    nbInput fullWidth placeholder="Description of the cluster connection">
            </div>
            <div class="form-group">
                <label for="idClusterType">Cluster type</label>
                <nb-select id="idClusterType" [(selected)]="clusterConnectionEntity.clusterType"
                    [disabled]="mode === 'edit'" fullWidth placeholder="Choose cluster type">
                    <nb-option *ngFor='let ct of clusterTypes' [value]="ct">{{ct}}</nb-option>
                </nb-select>
            </div>
            <div class="form-group">
                <label for="idSettings">Settings</label>
                <json-editor id="idSettings" [options]="editorOptions" [(ngModel)]="clusterConnectionEntity.settingsJsonObject"></json-editor>
            </div>

        </div>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button nbButton hero status="primary" (click)="submit()">Save</button>
        <button nbButton hero status="basic" (click)="close()">Close</button>
    </nb-card-footer>
</nb-card>