<nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        <input type="text" #name [(ngModel)]="clusterConnectionEntity.name" [disabled]="mode === 'edit'" nbInput fullWidth autofocus required
            placeholder="Name">
        <input type="text" #description [(ngModel)]="clusterConnectionEntity.description" nbInput fullWidth
            placeholder="Description">
        <nb-select [(selected)]="clusterConnectionEntity.clusterType" [disabled]="mode === 'edit'" fullWidth placeholder="Choose cluster type">
            <nb-option *ngFor='let ct of clusterTypes' [value]="ct">{{ct}}</nb-option>
        </nb-select>
        <textarea rows="5" [(ngModel)]="clusterConnectionEntity.settings" nbInput fullWidth
            placeholder="Input connection settings in JSON format"></textarea>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button nbButton hero status="primary" (click)="submit()">Save</button>
        <button nbButton hero status="basic" (click)="close()">Close</button>
    </nb-card-footer>
</nb-card>