<configuration>
    <property>
        <name>fs.s3.awsAccessKeyId</name>
        <value>{{.Env.ABACUZA_AWS_ACCESS_KEY}}</value>
    </property>
    <property>
        <name>fs.s3.awsSecretAccessKey</name>
        <value>{{.Env.ABACUZA_AWS_SECRET_KEY}}</value>
    </property>
    <property>
        <name>fs.s3.impl</name>
        <value>org.apache.hadoop.fs.s3a.S3AFileSystem</value>
    </property>
    <property>
        <name>fs.s3n.awsAccessKeyId</name>
        <value>{{.Env.ABACUZA_AWS_ACCESS_KEY}}</value>
    </property>
    <property>
        <name>fs.s3n.awsSecretAccessKey</name>
        <value>{{.Env.ABACUZA_AWS_SECRET_KEY}}</value>
    </property>
    <property>
        <name>fs.s3n.impl</name>
        <value>org.apache.hadoop.fs.s3native.NativeS3FileSystem</value>
    </property>
    <property>
        <name>fs.s3a.endpoint</name>
        <value>{{.Env.ABACUZA_AWS_ENDPOINT}}</value>
    </property>
    <property>
        <name>fs.s3a.access.key</name>
        <value>{{.Env.ABACUZA_AWS_ACCESS_KEY}}</value>
    </property>
    <property>
        <name>fs.s3a.secret.key</name>
        <value>{{.Env.ABACUZA_AWS_SECRET_KEY}}</value>
    </property>
</configuration>