<div class="form-group">
    <label [for]="id">{{attributes.label}}</label>
    <textarea *ngIf='attributes.tooltip' [(ngModel)]='value' [nbTooltip]='attributes.tooltip' nbTooltipPlacement="bottom" [id]="id" [rows]='attributes.minLines === 0 ? 5 : attributes.minLines' (blur)='onBlur($event)' nbInput fullWidth></textarea>
    <textarea *ngIf='!attributes.tooltip' [(ngModel)]='value' [id]="id" [rows]='attributes.minLines === 0 ? 5 : attributes.minLines' (blur)='onBlur($event)' nbInput fullWidth></textarea>
</div>
