<div>
  <!-- Preloader -->
  <!-- <div class="preloader flex-column justify-content-center align-items-center">
    <img class="animation__shake" src="assets/img/AdminLTELogo.png" alt="AdminLTELogo" height="60" width="60">
  </div> -->

  <app-nav-bar></app-nav-bar>
  <app-main-side-bar></app-main-side-bar>
  <div class="content-wrapper">
    <!-- Main content -->
    <router-outlet></router-outlet>
    <app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
    <!-- /.content -->
  </div>
  <app-footer-bar></app-footer-bar>
</div>