<nb-card>
    <nb-card-header>Create New Project</nb-card-header>
    <nb-card-body>
        <div>
            <div class="form-group">
                <label for="idName">Name</label>
                <input type="text" id="idName" #name [(ngModel)]="projectEntity.name" nbInput fullWidth autofocus required
                    placeholder="Name of the project">
            </div>
            <div class="form-group">
                <label for="idDescription">Description</label>
                <input type="text" id="idDescription" #description [(ngModel)]="projectEntity.description" nbInput fullWidth
                    placeholder="Description of the project">
            </div>
            <div class="form-group">
                <label for="idInputEndpoint">Input Endpoint</label>
                <nb-select id="idInputEndpoint" [(selected)]="projectEntity.inputEndpointName" fullWidth placeholder="Choose the input endpoint">
                    <nb-option *ngFor='let ie of inputEndpoints' [value]="ie.name">{{ie.displayName}}</nb-option>
                </nb-select>
            </div>
            <div class="form-group">
                <label for="idJobRunner">Job Runner</label>
                <nb-select id="idJobRunner" [(selected)]="projectEntity.jobRunnerId" fullWidth placeholder="Choose the job runner">
                    <nb-option *ngFor='let jr of jobRunners' [value]="jr.id">{{jr.name}}</nb-option>
                </nb-select>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button nbButton hero status="primary" (click)="submit()">Save</button>
        <button nbButton hero status="basic" (click)="close()">Close</button>
    </nb-card-footer>
</nb-card>