
<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("RegisteredClusterTypesList")
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        @await Component.InvokeAsync("RegisteredEndpointsList") 
    </div>
</div>