<div class="modal-header">
    <h4 class="modal-title">
        <i *ngIf='dialogType === 0' class="fas fa-info-circle"></i>
        <i *ngIf='dialogType === 1' class="fas fa-question-circle"></i>
        <i *ngIf='dialogType === 2' class="fas fa-exclamation-triangle"></i>
        <i *ngIf='dialogType === 3' class="fas fa-times-circle"></i>
        {{title}}
    </h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.close(1)">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p> {{message}}</p>
</div>
<div class="modal-footer">
    <button *ngIf='dialogType === 0 || dialogType === 2 || dialogType === 3' type="button" class="btn btn-outline-dark"
        (click)="activeModal.close(0)">OK</button>
    <button *ngIf='dialogType === 1' type="button" class="btn btn-outline-dark"
        (click)="activeModal.close(2)">Yes</button>
    <button *ngIf='dialogType === 1' type="button" class="btn btn-outline-dark" (click)="activeModal.close(3)"
        ngbAutofocus>No</button>
</div>