
.card-footer > .btn {
  margin-left: 0.5rem;
}

.btn-span > .btn {
  margin-left: 0.5rem;
}

.tab-content {
  margin-left: 0.1rem;
  margin-right: 0.1rem;
  margin-bottom: 0.1rem;
  margin-top: 0.8rem;
}