<section class="content-header">
    <div class="container-fluid">
      <div class="row mb-2">
        <div class="col-sm-6">
          <h4>
            <i class="nav-icon fas fa-user"></i>
            Users
          </h4>
        </div>
        <div class="col-sm-6">
          <div class=" d-md-flex justify-content-md-end">
            <button class="btn btn-outline-primary" type="button">
              <i class="nav-icon fas fa-plus"></i>
              Add User
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <table datatable [dtOptions]='dtTableOptions' [dtTrigger]='dtTrigger'
            class="table table-bordered table-striped table-hover">
            <thead>
              <tr>
                <th>User name</th>
                <th>Display name</th>
                <th>Email</th>
                <th class="text-center">Actions</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor='let user of users'>
                <td>
                  {{user.userName}}
                </td>
                <td>{{user.displayName}}</td>
                <td>{{user.email}}</td>
                <td class="text-center">
                  <a href="javascript:void(0);" title="Edit" class="m-1">
                    <span class="fas fa-edit">
                    </span>
                  </a>
                  <a href="javascript:void(0);" title="Delete" class="m-1">
                    <span class="fas fa-trash-alt">
                    </span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>