<nb-card>
    <nb-card-header>{{ title }}</nb-card-header>
    <nb-card-body>
        <input type="text" nbInput fullWidth placeholder="Name">
        <input type="text" nbInput fullWidth placeholder="Description">
        <nb-select [(selected)]="selectedClusterType" fullWidth placeholder="Choose cluster type">
            <nb-option *ngFor='let ct of clusterTypes' value="ct">{{ct}}</nb-option>
        </nb-select>
        <textarea rows="5" nbInput fullWidth placeholder="Input connection settings in JSON format"></textarea>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button nbButton hero status="primary" (click)="dismiss()">Save</button>
        <button nbButton hero status="basic" (click)="dismiss()">Close</button>
    </nb-card-footer>
</nb-card>