<!-- Confirm Dialog -->
<div class="modal fade" id="modal-confirm">
    <div class="modal-dialog">
        <div class="modal-content bg-danger">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-outline-light" data-dismiss="modal" data-confirm="no">Cancel</button>
                <button type="button" class="btn btn-outline-light" data-dismiss="modal" data-confirm="yes">Yes</button>
            </div>
        </div>
    </div>
</div>
