<div>
    <nb-card>
        <nb-card-header>
            <span *ngIf='projectEntity'>
                Project Details - {{projectEntity.name}}
            </span>
        </nb-card-header>

        <nb-card-body>
            <div>
                <div class="form-group" fullWidth>
                    <label for="idProjectDescription">Description</label>
                    <input type="text" id="idProjectDescription" #name [(ngModel)]="updatingProject.description" nbInput
                        fullWidth autofocus required placeholder="Description of the project">
                </div>
                <div *ngIf='inputEndpointEntity' class="form-group" fullWidth>
                    <label for="idProjectInputEndpoint">Input Endpoint</label>
                    <nb-select id="idProjectInputEndpoint" [(selected)]="projectEntity.inputEndpointName" (selectedChange)="onInputEndpointSelectedChange($event)" fullWidth placeholder="Choose the input endpoint">
                        <nb-option *ngFor='let ie of inputEndpoints' [value]="ie.name">{{ie.displayName}}</nb-option>
                    </nb-select>
                </div>
                <div *ngIf='outputEndpointEntity' class="form-group" fullWidth>
                    <label for="idProjectOutputEndpoint">Output Endpoint</label>
                    <nb-select id="idProjectOutputEndpoint" [(selected)]="projectEntity.outputEndpointName" (selectedChange)="onOutputEndpointSelectedChange($event)" fullWidth placeholder="Choose the input endpoint">
                        <nb-option *ngFor='let ie of outputEndpoints' [value]="ie.name">{{ie.displayName}}</nb-option>
                    </nb-select>
                </div>
                <div *ngIf='jobRunnerEntity' class="form-group" fullWidth>
                    <label for="idJobRunnerName">Job Runner</label>
                    <input type="text" id="idJobRunnerName" #name [(ngModel)]="jobRunnerEntity.name" nbInput fullWidth
                        autofocus required placeholder="Job Runner" disabled>
                </div>
            </div>

            <nb-tabset (changeTab)='onChangeTab($event)'>
                <nb-tab tabTitle="Input" [active]='selectedActiveTab === "Input"'>
                    <ng-template ngxUIComponentsInputEndpointHost></ng-template>
                </nb-tab>
                <nb-tab tabTitle="Output" [active]='selectedActiveTab === "Output"'>
                    <ng-template ngxUIComponentsOutputEndpointHost></ng-template>
                </nb-tab>
                <nb-tab tabTitle="Revisions" [active]='selectedActiveTab === "Revisions"'>
                    <ng2-smart-table [settings]="revisionsTableSettings" [source]="revisionsSource" (custom)='onRevisionsCustomAction($event)'>
                    </ng2-smart-table>
                </nb-tab>
            </nb-tabset>
        </nb-card-body>
        <nb-card-footer class="text-right">
            <button nbButton hero status="basic" (click)="back()">Back</button>
            <button nbButton hero status="primary" (click)="save()">Save</button>
            <button nbButton hero status="success" (click)="submit()">Submit</button>
        </nb-card-footer>
    </nb-card>
</div>