<nb-card *ngIf='jobRunnerEntity'>
    <nb-card-header>Job Runner Details</nb-card-header>
    <nb-card-body>
        <div>
            <div class="form-group">
                <label for="iName">Name</label>
                <input type="text" id="iName" 
                    [(ngModel)]='jobRunnerEntity.name' nbInput fullWidth autofocus required
                    placeholder="Name">
            </div>
            <div class="form-group">
                <label for="iDescription">Description</label>
                <input type="text" id="iDescription" 
                    [(ngModel)]='jobRunnerEntity.description' nbInput fullWidth autofocus required
                    placeholder="Description">
            </div>
            <div class="form-group">
                <label for="iClusterType">Cluster Type</label>
                <nb-select [(selected)]="jobRunnerEntity.clusterType" fullWidth placeholder="Choose cluster type">
                    <nb-option *ngFor='let ct of clusterTypes' [value]="ct">{{ct}}</nb-option>
                </nb-select>
            </div>
            <div class="form-group">
                <label for="iPayloadTemplate">Payload template</label>
                <textarea id="iPayloadTemplate" rows="8" [(ngModel)]="jobRunnerEntity.payloadTemplate" nbInput fullWidth
                    placeholder="Input template in JSON format"></textarea>
            </div>
            <div class="form-group">
                <label for="iBinaryFiles">Binaries</label>
                <ng2-smart-table id="iBinaryFiles" [settings]="binaryFilesTableSettings" [source]="source"
                    (create)="onAddFile()"
                    (delete)="onDeleteFile($event)">
                </ng2-smart-table>
            </div>
        </div>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button nbButton hero status="basic" (click)="back()">Back</button>
        <button nbButton hero status="primary" (click)="save()">Save</button>
    </nb-card-footer>
</nb-card>