<div class="form-group">
  <label for="name">Name</label>
  <input ngbAutofocus type="text" class="form-control" id="name" required [(ngModel)]="data.clusterConnection.name" name="name"
    [disabled]="usage === 1" placeholder="Name of the cluster connection">
</div>
<div class="form-group">
  <label for="description">Description</label>
  <input type="text" class="form-control" id="description" [(ngModel)]="data.clusterConnection.description" name="description" placeholder="Description of the cluster connection">
</div>
<div class="form-group">
  <label for="clusterType">Cluster type</label>
  <select id="clusterType" name="clusterType" class="form-control" [(ngModel)]="data.clusterConnection.clusterType" [disabled]="usage === 1">
    <option *ngFor="let ct of data.clusterTypes" [ngValue]="ct">{{ct}}</option>
  </select>
</div>
<div class="form-group">
  <label for="settings">Settings</label>
  <json-editor id="settings" name="settings" [options]="jsonEditorOptions" [(ngModel)]="data.clusterConnection.settingsJsonObject"></json-editor>
</div>