<nb-card>
    <nb-card-header><nb-icon icon="{{iconName}}" status="{{iconStatus}}"></nb-icon> {{ title }}</nb-card-header>
    <nb-card-body>
        <p>{{ message }}</p>
    </nb-card-body>
    <nb-card-footer class="text-right">
        <button nbButton hero status="primary" (click)="ok()" *ngIf="type === 1">OK</button>
        <button nbButton hero status="primary" (click)="yes()" *ngIf="type === 2">Yes</button>
        <button nbButton hero status="basic" (click)="no()" *ngIf="type === 2">No</button>
    </nb-card-footer>
</nb-card>